
# Carpetas de construcción
bin/
out/
target/
build/

# Configuraciones de IDEs (IntelliJ, VS Code, Eclipse)
.idea/
.vscode/
.settings/
.classpath
.project
*.iml

# Archivos de sistema Linux
.DS_Store
Thumbs
